body {
  background-image: url('../img/background-1.jpg');
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}

/* font-family: 'Gelasio', serif;
font-family: 'Roboto Mono', monospace; */

#main-name,
#job-title,
.second-header {
  font-family: 'Gelasio', serif;
}
#main-header img {
  width: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.9;
  cursor: pointer;
}
.collapse {
  opacity: 0.97;
}

#name-box,
#main-footer,
#job-title {
  opacity: 0.8;
}

#text-area {
  height: 200px;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
