body {
  background-image: url('../img/background-1.jpg');
  background-size: cover;
}

#main-name,
#job-title,
.second-header {
  font-family: 'Gelasio', serif;
}
#main-header img {
  width: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.9;
  cursor: pointer;
}
.collapse {
  opacity: 0.97;
}

#name-box,
#main-footer,
#job-title {
  opacity: 0.8;
}

#text-area {
  height: 150px;
}

.bg-black {
  color: #fff;
  background: #000;
}

.top-ss-icons,
.proj-img-sm {
  display: none;
}

.pi-sm {
  display: none !important;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

@media (max-width: 991px) {
  .exp-card {
    padding: 1rem !important;
  }
}

@media (max-width: 767px) {
  .skills-icon {
    display: none;
  }
  .exp-card {
    display: block !important;
    margin-bottom: 1rem !important;
  }
  .exp-container {
    display: block !important;
  }
  .site-source {
    font-size: 1rem !important;
  }
  .proj-img-div {
    display: block !important;
    text-align: center !important;
  }
  .proj-img {
    display: none;
  }
  .proj-header {
    text-align: center;
  }
  .proj-img-sm {
    display: inline-block !important;
  }
}

@media (max-width: 470px) {
  .second-header,
  #skills-head,
  #job-title {
    font-size: 1.5rem !important;
  }
  #main-name {
    font-size: 2.5rem !important;
  }
  .top-small-icons,
  .pi-norm {
    display: none !important;
  }
  .top-ss-icons,
  .pi-sm {
    display: inline-block !important;
  }
  .site-source {
    font-size: 0.9rem !important;
  }
}
